<header>
  <navigation></navigation>
  <div class="header">
    <h1>
      Lúdavató 2019
    </h1>
    <p>Szuperhősök</p>
  </div>
</header>
<div class="content-container">
  <a name="hirek"></a>
  <h1>Hírek</h1>
  <p>Itt még nincs semmi.</p>
</div>
<div class="content-container">
  <a name="feladatok"></a>
  <h1>Feladatok</h1>

  <div class="feladat">
    <h2>Kis plakátok készítése</h2>
    <ul>
      <li>5 db A/4-es méretű</li>
      <li>3 db lesz értékelve.</li>
      <li>Leadási határidő: október 7.</li>
      <li>Kirakás napja: október 9.</li>
      <li>5 plakát/folyosó</li>
      <li>Mémeket nem értékelünk!</li>
      <li>Legyen saját készítésű!</li>
      <li>Kreativitást, egyediséget, valamint igényességet pontozunk.</li>
    </ul>
  </div>

  <div class="feladat">
    <h2>Nagy plakát készítése</h2>
    <ul>
      <li>1 db A/2-esnél nagyobb</li>
      <li>Nem lehet kicserélni!</li>
      <li>Kirakás napja (az aulába): szeptember 30.</li>
      <li>Legyen saját készítésű!</li>
      <li>Kreativitást, egyediséget, valamint igényességet pontozunk.</li>
    </ul>
  </div>

  <div class="feladat">
    <h2>Szlogen</h2>
    <ul>
      <li>2-szer mondhatjátok be az iskolarádióban, kampánynapok alatt</li>
      <li>Leadási határidő: október 14.</li>
    </ul>
  </div>
  <div class="feladat">
    <h2>Sütiosztás</h2>
    <ul>
      <li>Csak a közönség szavazatba számít bele.</li>
      <li>Október 17, 18, 21</li>
      <li>A sütiosztás hagyomány szerint a lépcsőfordulókban szokott megrendezésre kerülni, és a <strong>portánál
        szigorúan tilos a kampányolás</strong>.
      </li>
    </ul>
  </div>

  <div class="feladat">
    <h2>Kampányvideó</h2>
    <p>
      A kampány részeként el kell készítenetek egy <strong>1-1,5 perces</strong> kampányvideót, amivel népszerűsítitek
      osztályotokat,
      valamint az előadásotokat. A pontozásnál figyelembe vesszük az egyediséget, a videó igényességét, a speciális
      effektek használatát, valamint természetesen a humort is. Használhattok utalásokat könyvekből, filmekből,
      videókból. Figyeljetek arra, hogy
      a videóanyagaitok legalább 70%-ban általatok készített legyen, és az osztály minél több tagja szerepet kapjon.
    </p>
    <p>
      Mellőzzétek a politikai, vallási, vagy egyéb csoportokra tett, esetlegesen sértő utalásokat, valamint a mémek. A
      videóban kötelező megszólalni, legalább 20 másodpercet kell beszélni.
    </p>
    <p>
      A videót mp4 formátumban, <strong>maximum 2GB</strong>-os méretben <strong>október 7</strong>-ig. Amennyiben a
      szervezők kifogásolhatónak vélnek
      benne egyes részeket, akkor az osztálynak további 2 nap áll rendelkezésre kijavítani a hibát.
    </p>
    <p>
      Az elkészült videókat az aulában, a kampánynapokon, valamint a lúdavatón, az előadások előtt fogjuk
      levetíteni.
    </p>
  </div>

  <div class="feladat">
    <h2>Kvíz</h2>
    <ul>
      <li>Október 22-én, az előadás előtt lesz.</li>
      <li>6 témakör:
        <ul>
          <li>Humán</li>
          <li>Reál</li>
          <li>Iskolatörténet (ehhez anyagot tudunk adni)</li>
          <li>Sport</li>
          <li>Film</li>
          <li>Zene</li>
        </ul>
      </li>
      <li>Az osztály minden tagjának valamelyik csoportban benne kell lennie!</li>
      <li>5-6 fős csoportok lehetnek.</li>
    </ul>
  </div>

  <div class="feladat">
    <h2>Induló</h2>
    <ul>
      <li>A <a href="https://www.youtube.com/watch?v=aAwbuL1iJP4" target="_blank">KFT - Afrika</a> dallamára</li>
      <li>Minimum 1 perc szöveg a dalból</li>
      <li>Szöveget fejből kell tudnotok</li>
      <li>Zenét nem kaptok, minél több hangszert használjatok</li>
      <li>Szöveget közben ppt formában vetítsétek ki!</li>
    </ul>
  </div>

  <div class="feladat">
    <h2>Előadás</h2>
    <p>
      Az előadást a nagyteremben kell előadnotok október 22-én, a 17:00-kor kezdődő rendezvényen. Az előadás fő
      témája a <i><strong>szuperhősök <sup>*</sup></strong></i>. Az előadás maximális hossza 15 perc lehet. Az
      előadásról írnotok kell egy szövegkönyvet (ajánlott forma: Google Docs, hogy mindenki szerkeszthesse), amit
      szeptember 30-ig le kell adnotok ellenőrzés céljából.
    </p>
    <div style="margin-top: -0.5cm; margin-left: auto; display: inline-block; float: right; clear-after: none">
      <sub>*: Ludas Matyi legyen szuperhős **</sub><br>
      <sub>**: Más is lehet. ***</sub><br>
      <sub>***: De neki kötelező.</sub>
    </div>

    <ul>
      <li><strong>Kötelező zene:</strong> Boney M - Rasputin (min. 15s, max. a zene hossza)</li>
      <li><strong>Kötelező tánc:</strong> nem az előző zenére 30-60s</li>
      <li>
        <strong>Kötelező kellékek:</strong>
        <ul>
          <li>Superman alsónadrágja</li>
          <li>Egy repülőszőnyeg</li>
          <li>Egy csikóbőrös kulacs</li>
          <li>Egy római tóga</li>
          <li>A Csibemackó ☺ [lehet szereplő is]</li>
        </ul>
      </li>
      <li>
        <strong>Kötelező idézetek, mondatok:</strong>
        <ul>
          <li>„Easy rider, öcsém!”</li>
          <li>„Csak ne spórold ki a pisztáciát!”</li>
          <li>„Üdvözöllek, dicső lovag, szép a ruhád, szép a lovad!”</li>
          <li>„Ez nem az, aminek látszik.”</li>
        </ul>
      </li>
      <li>
        <strong>Egyéb kötelező elemek:</strong>
        <ul>
          <li>5 egybefüggő sor az eredeti műből</li>
          <li>5 szavas alliteráció(k) (névelő nem számít)</li>
        </ul>
      </li>
    </ul>
    <h3>Próbák</h3>
    <ul>
      <li>3 db, 2 órás nagytermi próbátok van</li>
      <li>Az utolsón kaptok stúdiós segítséget</li>
      <li>Kötelező tanári felügyelet a próbák alatt!</li>
      <li>Szeptember 10., 8.óra: stúdiós tájékoztató a Nagyteremben!</li>
    </ul>
  </div>

</div>

<div class="content-container">
  <a name="idopontok"></a>
  <h1>Időpontok</h1>
  <p>Coming soon...</p>
</div>
<div class="content-container">
  <a name="kapcsolat"></a>
  <h1>Kapcsolat</h1>
  <p>Ha bármi kérdésed van a pontozás, a feladatok, vagy a szabályok kapcsán írj Boginak a <a
    href="mailto:bogi0112@gmail.com">
    bogi0112@gmail.com</a> címre, vagy az osztályok képviselői írhatnak a Messenger-csoportba!</p>
</div>
<img src="assets/vaza.jpg" alt="" width="300" style="margin: 0 auto; display: block;">
<footer>
  &copy; 2019 Fazekas 2022D
</footer>
